@media screen and (max-width: 980px)

{
		body
	{	
		
		background-image: url("https://orig00.deviantart.net/04d9/f/2012/145/1/f/timeline_cover_texture_by_nfc_by_ninetailsfoxchan-d510s4g.jpg");
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;

	}	
/* ==================================================================== -->*/
	#header
	{	
		min-height: 100px;
		background: #FFFACD;
		border-bottom: #DCDCDC 5px solid;
	}
	
	/* ==================================================================== -->*/

	/*header elements */

		#YourNamebox
		{
			width: 18%;
			height: 90px;
			background: #66CDAA;
			color: #696969;
			line-height: 70px;			
			position: absolute;			
			margin-left: 16.29%;
			text-align: center;		

		}

		h1 
			{
				
				font-size: 2vw;
			}
		/* ==================================================================== -->*/

		#navbar
		{
			width: 18.75%;
			min-height: 30px;
			background: cyan;
			float: right;
			position:absolute;
			top:0;
			right:0;
			margin-top:30px;
			margin-right: 16.75%;	
			float: right;		
		}

			/* navbar elements */

			.Menuoptions 
			{
				float:left;
				width: 33.33%;
				height: 30px;
				background: white;
				text-align: center;
				line-height: 30px;

			}

			#Aboutmebox,
			#portfoliobox

			{
				border-right: 2px solid darkgrey;
				box-sizing: border-box;
			}
			

			/* Text styling for Menu */
				span
				{
					font-size:1.25vw; 
					font-family: cursive;
					text-align: justify;
					color: #696969;
				}



	/* ==================================================================== -->*/

	#maincontentarea
	{
		width: 67.6%;	
		position: relative;
		margin:auto;		
		padding: 50px 0;
		box-sizing: border-box;
	}

	/* ==================================================================== -->*/
	/* maincontent area elements */
	
		#aboutmesection
		{
			background: #FFF0F5;
			width:67.7%;
			min-height: 250px;
			padding: 10px 20px;
			box-sizing: border-box;	
		}


			/* ==================================================================== -->*/

		/* about me section elements properties */

			#AboutmeTitlebox
			{
				width: 100%;
				min-height: 50px;
				color: #696969;
				margin-bottom: 20px;
				box-sizing: border-box;
				border-bottom: 2px solid #DCDCDC;
				line-height: 50px;
				padding-left:5px;
				font-size:2vw;	
				
			}

	
			#textbox1container,
			#textbox2container,
			#textbox3container
			{

				width: 100%;
				height: 30px;
				background-color: white;
				line-height: 30px;
				position: relative;
				
				left: 0px;
			}

			#textbox2container
			{
				top: 40px;
			}

			#textbox3container
			{
				top:80px;
				
			}


			#textbox1,
			#textbox2,
			#textbox3

 			{
				width: 100%;
				height: 20px;
				left: 0px;
				top: 40px;
				position: absolute;
				margin-right: auto;
				margin-left: auto;
				box-sizing: border-box;
	
			}

			.Submitbox 
			{
				width: 50%;
				height: 30px;
				background-color: blue;
				position: absolute;

				top: 335px;
				left: 10%;
				margin-left: auto;
				margin-right: auto;
				color: white;
				box-sizing: border-box;
				margin-top: 35px;
			}
	

	/* ==================================================================== -->*/
#connectwithmesection
		{
			background: #FFF0F5;
			width:28%;
			min-height: 125px;
			position: absolute;
			top:0;
			right: 0;	
			margin-top:50px;
			padding:0 15px;
			box-sizing: border-box;
			overflow: auto;
		}


			/* ==================================================================== -->*/

			/* connect with me section elements */

			#connectwithmeTitlebox
			{
				
				min-height: 40px;
				text-align: center;
				line-height: 40px;
				border-bottom: #C0C0C0 3px solid;
				font-size: 1vw;

			}

			.stylizedimage
			{
				width:20%;
				height: 20%;
				margin:15px 0 0 10px;
			}

				#githubicon
				{
					margin-left: 15px;

				}
				

		/* ==================================================================== -->*/

		

	#Footer
	{
		min-height: 100px;
		background: #FFE4E1;
		text-align: center;
		line-height: 100px;
		color: #696969;
		border-top: #DCDCDC 5px solid;
	}

	/* ==================================================================== -->*/



