	
	
	body
	{	
		
		background-image: url("https://orig00.deviantart.net/04d9/f/2012/145/1/f/timeline_cover_texture_by_nfc_by_ninetailsfoxchan-d510s4g.jpg");
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;

	}	
/* ==================================================================== -->*/
	#header
	{	
		min-height: 100px;
		background: #FFFACD;
		border-bottom: #DCDCDC 5px solid;
	}
	
	/* ==================================================================== -->*/

	/*header elements */

		#YourNamebox
		{
			width: 16%;
			height: 90px;
			background: #66CDAA;
			color: #696969;
			line-height: 70px;			
			position: absolute;			
			margin-left: 16.29%;
			text-align: center;
			margin-top:10px;

		}
			h1 
			{
				
				font-size: 1.5vw;
			}
	
		/* ==================================================================== -->*/

			#navbar
		{
			width: 18.75%;
			min-height: 30px;
			background: cyan;
			float: right;
			position:absolute;
			top:0;
			right:0;
			margin-top:30px;
			margin-right: 16.75%;	
			float: right;		
		}

		/* navbar elements */

			.Menuoptions 
			{
				float:left;
				width: 33.33%;
				height: 30px;
				background: white;
				text-align: center;
				line-height: 30px;

			}
			#Aboutmebox

			{
				border-right: 2px solid darkgrey;
				box-sizing: border-box;
			}
			#Portfoliobox
			{
				border-right: 2px solid darkgrey;
				box-sizing: border-box;
			}

			/* Text styling for Menu */
				span
				{
					font-size:1vw; 
					font-family: cursive;
					text-align: justify;
					color: #696969;
				}

				a:link {
	
   					 text-decoration: none;
				}

	/* ==================================================================== -->*/

	#maincontentarea
	{
		width: 67.6%;
		min-height: 800px;
		
		position: relative;
		margin:auto;	
		
		padding: 50px 0;
		box-sizing: border-box;
	}

	/* ==================================================================== -->*/
	/* maincontent area elements */
	
		#aboutmesection
		{
			background: #FFF0F5;
			width:65.6%;
			min-height: 800px;
			padding: 20px;
			padding-bottom: 10px;
			box-sizing: border-box;	
		}

		/* about me section elements properties */

			#AboutmeTitlebox
			{
				width: 100%;
				min-height: 50px;
				color: #696969;
				margin-bottom: 20px;
				box-sizing: border-box;
				border-bottom: 2px solid #DCDCDC;
				line-height: 50px;
				padding-left:5px;
				font-size:2vw;	
				
			}

			#portfoliobox1,
			#portfoliobox3,
			#portfoliobox5 
			
			{

			width: 32.6%;		
			background-color: red;
			margin-top: 20px;
			margin-left: 50px;
			float: left;

			}

			#portfoliobox2,
			#portfoliobox4  
			{
				width: 32.6%;
				background-color: yellow;

				float: right;
				margin-right: 50px;
				margin-top: 20px;
	
			}



			#portfoliobox3 
			{
				
				background-color: green;
				
			}

			#portfoliobox4 
			{
				
				background-color: blue;

			}

			#portfoliobox5 
			{
				background-color: magenta; 			

			}

			/*Elements in Portfoilboxes*/				
				#Titlebar1,
				#Titlebar2,
				#Titlebar3,
				#Titlebar4,
				#Titlebar5

				{
					
					width: 100%;
					min-height: 40px;
					background: black;
					margin-top:120px;
					margin-bottom: 20px;
					color: silver;
					text-align: center;
					line-height: 40px;
					box-sizing: border-box;
					font-size: 1vw;
				}


	/* ==================================================================== -->*/

		#connectwithmesection
		{
			background: #FFF0F5;
			width:28%;
			min-height: 125px;
			position: absolute;
			top:0;
			right: 0;	
			margin-top:50px;
			padding:0 15px;
			box-sizing: border-box;
			overflow: auto;
		}


			/* ==================================================================== -->*/

			/* connect with me section elements */

			#connectwithmeTitlebox
			{
				
				min-height: 40px;
				text-align: center;
				line-height: 40px;
				border-bottom: #C0C0C0 3px solid;
				font-size: 1vw;

			}

			.stylizedimage
			{
				width:20%;
				height: 20%;
				margin:15px 0 0 10px;
			}

				#githubicon
				{
					margin-left: 20px;

				}
				

		/* ==================================================================== -->*/

		

	#Footer
	{
		min-height: 100px;
		background: #FFE4E1;
		text-align: center;
		line-height: 100px;
		color: darkgrey;
		border-top: #DCDCDC 5px solid;
	}




/* ==================================================================== -->*/



